
streamlit
numpy
pandas

#face recognition k liye
dlib-bin
scikit-learn
git+https://github.com/ageitgey/face_recognition_models

# pkg_resources ke liye
setuptools==80.9.0

#for database
supabase

#for password hashing
bcrypt

#for QR code generation
segno

# for image processing
pillow

#for voice preprocesing and recognition
librosa
resemblyzer

#for voice preprocesing and recognition
librosa
resemblyzer



